$off: #666;
$active: #468669;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);

    .form {
        padding: 25px 30px;
        header {
            font-size: 25px;
            font-weight: 600;
            border-bottom: 1px solid #e6e6e6;
        }
        .link {
            text-align: center;
            margin: 10px 0;
            font-size: 17px;
            a {
                color: #333;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        form {
            margin: 20px 0;
            
            .error-txt {
                color: #721c24;
                background: #f8d7da;
                padding: 8px 10px;
                text-align: center;
                border-radius: 5px;
                border-bottom: 10px;
                border: 1px solid #f5c6cb;
                margin-bottom: 10px;
            }
            .field {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                i {
                    position: absolute;
                    right: 15px;
                    top: 70%;
                    color: #ccc;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
              
                input {
                    height: 40px;
                    width: 100%;
                    font-size: 16px;
                    padding: 0 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;

                }
                .label {
                    margin-bottom: 2px;
                }
                .file {
                    border: none;
                }
                .button {
                    margin-top: 13px;
                    height: 45px;
                    border: none;
                    font-size: 17px;
                    font-weight: 400;
                    background-color:  #333;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .name-details {
                display: flex;
                margin-right: 10px;
                justify-content: space-between;
                .field {
                    :first-child {
                        margin-right: 10px;
                    }
                    :last-child {
                        margin-right: 10px;
                    }
                }
            }
            
        }
    }
}

/*======-======
users-area
=============*/
.users {
    padding: 25px 30px;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
        .content {
            display: flex;
            align-items: center;
        
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
            .details {
                margin-left: 15px;
                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .logout {
            color: #fff;
            font-size: 17px;
            padding: 7px 15px;
            background: #333;
            border-radius: 5px;
        }
    }
    .search {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .text {
            font-size: 18px;
        }
        input {
            position: absolute;
            height: 42px;
            width: calc(100% - 50px);
            border: 1px solid #ccc;
            padding: 0 13px;
            font-size: 16px;
            border-radius: 5px;
        }
        button {
            width: 47px;
            height: 42px;
            border: none;
            outline: none;
            color: #fff;
            background: #333;
            cursor: pointer;
            font-size: 17px;
            border-radius: 0 5px 5px 0;
        }
    }
    .users-list {
        
        max-height: 350px;
        overflow-y: auto;
        
        a {
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            justify-content: space-between;
            border-bottom: 1px solid #e6e6e6;
            padding-right: 15px;
            page-break-after: 10px;
            border-bottom-color: #f1f1f1;
            ::-webkit-scrollbar {
                width: 0px;
            }
            .status-dot {
                font-size: 12px;
                color: $active;
            }
            .content {
                display: flex;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                .details {
                    color: #000;
                    margin-left: 15px;
                    align-items: center;
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                p {
                    color: #67676a;
                }
            }
        }
    }
}

/*=================
chat-area
=================*/

    .chat-area {
        header {
            display: flex;
            align-items: center;
            .back-icon {
                font-size: 18px;
                color: #333;
            }
            .content {
                display: flex;
                align-items: center;
                padding: 18px 30px;
                .img {
                    
                    img {
                        height: 45px;
                        width: 45px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin: 0 15px;
                    }
                }
                .details {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p {
                        color: #666;
                    }
                }
            }

        }
        .chat-box {
            height: 500px;
            background: #f7f7f7;
            padding: 10px 30px 20px 30px;
            overflow-y: auto;
            .outgoing {
                display: flex;
                .details {
                    margin-left: auto;
                    max-width: calc(100% - 130px);
                    p {
                        background: #333;
                        color: #fff;
                        border-radius: 18px 18px 0 18px;
                    }
                }
            }
            .incoming {
                display: flex;
                align-items: flex-end;
                img {
                    height: 35px;
                    width: 35px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .details {
                    margin-right: auto;
                    margin-left: 10px;
                    max-width: calc(100% - 130px);
                    
                    p {
                        background-color: #fff;
                        color: #333;
                        border-radius: 18px 18px 18px 0;
                    }
                }
            }
            .chat {
                margin: 10px 0;
                p {
                    padding: 8px 16px;
                    word-wrap: break-word;
                }
            }
            
        }
        .typing-area {
            padding: 18px 30px;
            display: flex;
            justify-content: space-between;
            input {
                height: 45px;
                width: calc(100% - 58px);
                font-size: 17px;
                border: 1px solid #ccc;
                padding: 0 13px;
                border-radius: 5px;
                outline: none;
            }
            button {
                width: 55px;
                border: none;
                outline:  none;
                border-radius: 0 5px 5px 0;
                color: #fff;
                background: #333;
                cursor: pointer;
                font-size: 19px;
            }
        }

    }
